# Django Settings
SECRET_KEY=django-insecure-change-this-in-production-env
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database (PostgreSQL)
POSTGRES_DB=mobilestore
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=postgres://postgres:postgrespassword@db:5432/mobilestore

# Frontend
VITE_API_URL=http://localhost:8000/api/v1/
