# Python & Virtualenv
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.sqlite3
local_storage.db

# Node & React
node_modules/
dist/
build/
.npm
*.log

# Mobile (Flutter)
.dart_tool/
.flutter-plugins
build/

# Keys & Secrets
*.pem
secrets/

# IDE
.vscode/
.idea/
